{{#if shouldDisplay}}
    <div class="custom-search-banner">
        <div class="wrap custom-search-banner-wrap">
            <h1>{{theme-i18n "search_banner.headline"}}</h1>
            <p>{{theme-i18n "search_banner.subhead"}}</p>
            <div class="flex justify-between mt-10">
                {{mount-widget widget="search-widget"}}
                <p>{{theme-i18n "search_banner.or" }}</p>
              {{mount-widget widget="create-topic"}}
            </div>
        </div>
    </div>
{{/if}}


